:root {
    --dark-button: #282b30;
    --important-button-blue: #008ecf;
}


#create_assessment {
    display: None;
}

#save-discard {
    margin: 2%;
}

#syllabus {
    display: None;
}

.dropdown-menu {

}

.dropdown-menu button {
    background-color: var(--important-button-blue);
    color: white;
    padding: 1vh;
}

.add-assignment-container {
    display: grid;
    place-items: center;
}