:root {
  --dark-button: #282b30;
  --important-button-blue: #008ecf;
}

#subheading {
  font-family: Montserrat;
}

.assessment-container {
  display: none;
  place-items: center;
}

#button_selection {
  margin:1%;
}

.add-assignment-container {
    display: grid;
    place-items: center;
}

.add-assignment-container h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  margin: 0.5vh;
}

.edit-assessment-input label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.edit-assessment-input  {
  display: grid;
  place-items: center;
}

.edit-assessment-input button {
  color: white;
  background-color: var(--dark-button);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  cursor: pointer;
  text-align: center;
}

.date-selection {
  display: none;
  place-items: center;
}

.reminder-date {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.date-selection h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 1vh;
  place-self: center;
}


.date-selection h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin: 1vh;
  place-self: center;
}

.month {
  width: 10vw;
  grid-column: 3 / span 1;
}

.day {
  grid-column: 5 / span 1;
  width: 10vw;
}

.year {
  grid-column: 7 / span 1;
  width: 10vw;
}

.time {
  grid-column: 9 / span 1;
  width: 10vw;
}

.ampm {
  width:5vw;
  font-size: 1rem;
}

.ampmbutton {
  width: 10vw !important;
  text-align: justify;
}

#create_ass_form {
  display: none;
}

#save-discard {
  color: white;
  background-color: var(--dark-button);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  cursor: pointer;
  text-align: center;
}

.save-or-discard {
  display: grid;
  place-items: center;
}

.save {
  display: none;
  color: white;
  background-color: var(--important-button-blue);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  cursor: pointer;
  text-align: center;
}

.discard {
  color: white;
  background-color: var(--dark-button);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  margin-bottom: 3vh;
  cursor: pointer;
  text-align: center;
}

.current-display h6 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  margin: 1vh;
  display: none;
}