:root {
  --dark-button: #282b30;
  --important-button-blue: #008ecf;
}


#subheading {
  font-family: Montserrat;
}

.assessment-container {
  display: none;
  place-items: center;
}

#button_selection {
  margin:1%;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu-button {
    background-color: var(--important-button-blue);
    color: white;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 1vh;
    width: 30vw;
    padding: 2vh;
    border: none;
    cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 30vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1vw, 1.5vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: block;
}

.dropdown-content button {
  color: black;
  padding: 1vw, 1.5vw;
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  display: block;
  border: none;
  background-color: #f9f9f9;
  width: 100%;
  cursor: pointer;

}

.dropdown-content button:hover {
  background-color: #f1f1f1;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.add-assignment-container {
    display: grid;
    place-items: center;
}

.edit-assessment-input label {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

.edit-assessment-input  {
  display: grid;
  place-items: center;
}

.edit-assessment-input button {
  color: white;
  background-color: var(--dark-button);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  cursor: pointer;
  text-align: center;
}

.date-selection {
  display: none;
  place-items: center;
}

.reminder-date {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.date-selection h6 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  margin: 1vh;
  place-self: center;
}


.date-selection h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin: 1vh;
  place-self: center;
}

.month {
  width: 10vw;
  grid-column: 3 / span 1;
}

.day {
  grid-column: 5 / span 1;
  width: 10vw;
}

.year {
  grid-column: 7 / span 1;
  width: 10vw;
}

.time {
  grid-column: 9 / span 1;
  width: 10vw;
}

.ampm {
  width:5vw;
  font-size: 1rem;
}

.ampmbutton {
  width: 10vw !important;
  text-align: justify;
}

#create_ass_form {
  display: none;
}

#save-discard {
  color: white;
  background-color: var(--dark-button);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  cursor: pointer;
  text-align: center;
}

.save-or-discard {
  display: grid;
  place-items: center;
}

.save {
  display: none;
  color: white;
  background-color: var(--important-button-blue);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  cursor: pointer;
  text-align: center;
}

.discard {
  color: white;
  background-color: var(--dark-button);
  width: 30vw;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0.5vh;
  cursor: pointer;
  text-align: center;
}