@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat&display=swap');

body {
    width: 600px;
    height: 600px;
}


.container {
    display: grid;
    place-items: center;
}

#class-details h6 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh;
    margin: 1vh;
}

#subheading {
    display: none;
}

#class-details {
    display: none;
    place-items: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#class-details td {
    font-family: 'Montserrat', sans-serif;
    width: 20vw;
}

#class-details table {
    width: 40vw;
    border-color: black;
    border-style: solid;

    margin: 2vh;
}

.add-assessment-form {
    display: none;
}

.buttons {
    display: grid;
    place-items: center;
}

.buttons button {
    width: 30vw;
    font-size: 1.5rem !important;
    margin: 1vh;
    color: white;
    background-color: var(--dark-button);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.edit-assessment-input label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
  }
  
  .edit-assessment-input  {
    display: none;
    place-items: center;
  }
  
  .edit-assessment-input button {
    color: white;
    background-color: #008ecf;
    width: 30vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    margin: 0.5vh;
    cursor: pointer;
    text-align: center;
  }
